a{
    font-size: 20px;
    color: #060404;
}/*只有使用了herf属性的元素应用该样式，也可以指定属性值*/
a:hover{
    font-size: 20px;
    color: #ba212a;
}/*冒号选择器，当时发生冒号之后的操作时，a标签的内容采用该样式，hover是指鼠标掠过*/

/* 主体列表格式 */
.class1 {
    background-color: silver;
    background-image: linear-gradient(335deg, #ceafaf 23px, transparent 23px),
    linear-gradient(155deg, #ceafaf 23px, transparent 23px),
    linear-gradient(335deg, #ceafaf 23px, transparent 23px),
    linear-gradient(155deg, #ceafaf 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    border-width: 5px;
    border-style: solid;
    border-color: #ba4937;
}
h1 {
    text-align: center;
    line-height: 13px;
    font-size: 50px;
    font-weight: bolder;
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
/*loading动画
.loading{
    width: 35px;
    height: 35px;
    border: 5px solid rgba(189,189,189,0.25);
    border-left-color: rgba(3,155,229,1);
    border-top-color: rgba(3,155,229,1);
    border-radius: 50%;
    animation: rotate 500ms infinite linear;
}
*/

/*页面分块布局*/
body {
    /*background-color: silver;
    background-image: linear-gradient(335deg, #ceafaf 23px, transparent 23px),
    linear-gradient(155deg, #ceafaf 23px, transparent 23px),
    linear-gradient(335deg, #ceafaf 23px, transparent 23px),
    linear-gradient(155deg, #ceafaf 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;*/
    background: url("../image/main.jpg") fixed;
}
.body1 {
    background: url("../image/login.jpg") fixed;
}
/*歌手页面顶端需要分三部分*/
.top1{
    display: flex;
    height: 86px;
    background-color: rgba(176,106,75,0.97);
    position: sticky;
    top: 0px;
}
.left{
    display: flex;
    justify-content: center;
    width: 25%;
}
.center{
    width: 50%;
}
.right{
    flex: 1;/* 自适应 */
}
/* 其他页面顶端不需分块 */
.top2{
    display: flex;
    height: 86px;
    position: sticky;
    top: 0px;
    justify-content: center;
}

.bottom{

    padding-left: 50px;
    padding-right: 50px;
    background-clip: content-box;/*只有内容区有背景颜色*/
    margin-left: 100px;/*边界宽度，也叫外边距*/
    margin-right: 100px;
    margin-top: 10px;
}

.class2 {
    border-width: 5px;
    border-style: solid;
    border-color: #EAA90B;
}
.class3{
    text-align: center;
    font-size: 40px;
    color:orangered;
    font-weight: bold;
}
.class4{
    text-align: center;
    font-size: 20px;
    color: orangered;
}
.class5{
    text-align: left;
    font-size: 20px;
    color: black;
    text-indent: 30px;/*首行缩进*/
}
.class6{
    font-weight: bolder;
    color: rgba(6,4,4,0.97);
}
button:hover{
    color: #dd0000;
}
button{
    cursor: pointer;
}

.btn_grey{
    width: 50px;
    height: 25px;
    background-color: rgba(249,253,244,0.27);
    cursor: pointer;
}
.btn_cozy{
    width: 50px;
    height: 25px;
    background-color: rgba(119,238,253,0.27);
    cursor: pointer;
}
.btn1{
    padding: 20px;
    background-color: red;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.btn2{
    background: url("../image/hotsong.jpg") no-repeat;
    padding-right:90px;
    padding-left: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    cursor: pointer;
}
.btn3{
    background: url("../image/recommendation.jpg") no-repeat;
    padding-right:90px;
    padding-left: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    cursor: pointer;
}
.div2{
    padding-left: 50px;
    padding-right: 50px;
    margin-top:100px;
    background-clip: content-box;/*只有内容区有背景颜色*/
    margin-right: 200px;/*边界宽度，也叫外边距*/
    margin-left: 200px;
    cursor: pointer;
}
